# Binaries and executables
*.exe

# Python caches and compiled files
__pycache__/
*.py[cod]
*$py.class

# System files
.DS_Store
Thumbs.db


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md


# PyInstaller build directories
build/
dist/
